{% extends 'base.html' %}
{% load static %}
{% load embed_video_tags %}

{% block extrahead %}
  <link rel="stylesheet" type="text/css" href="{% static 'slick/slick2.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'slick/slick-theme.css' %}"/>
{% endblock %}

{% block content %}
  <div class="page">
    <ul class="blog_index">
      {% for blog in blogs %}
        <li><a href="#{{blog.slug}}">{{blog.date}}: {{blog.title}}</a></li>
      {% endfor %}
    </ul>
    {% for blog in blogs %}
      <hr>
      <a name="{{blog.slug}}"></a>
      <h1>{{blog.title}}</h1>
      <h2>{{blog.date}}</h2>

      {% if blog.photos.exists %}
        <div class="slider">
          {% for p in blog.photos.all %}
            {% if p.image %}
              <div class="photo">
                <img src="{{p.image.url}}">
              </div>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}

      {% if blog.video %}
        <div class="video">
          {% video blog.video 'huge' %}
        </div>
      {% endif %}

      {{blog.text|safe}}
    {% endfor %}
  </div>

  {% if oldblog %}
    <hr>
    <div class="page">
      {{oldblog.page_content|safe}}
    </div>
  {% endif %}
{% endblock %}

{% block extrascript %}
  <script type="text/javascript" src="{% static 'slick/slick.min.js' %}"></script>
  <script>
    $('.slider').slick({
        arrows: true,
        slidesToShow: 1,
        slidesToScroll: 1,
        adaptiveHeight: true,
        autoplay: true,
        autoplaySpeed: 10000,
        swipe: false,
    });
  </script>
{% endblock %}
