{% extends 'base.html' %}
{% load static %}

{% block extrahead %}
  <link rel="stylesheet" type="text/css" href="{% static 'slick/slick2.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'slick/slick-theme.css' %}"/>
{% endblock %}

{% block content %}
  <div class="page">
    <ul class="blog_index">
      {% for blog in blogs %}
        <li><a href="{{blog.slug}}">{{blog.date}}: {{blog.title}}</a></li>
      {% endfor %}
    </ul>
    {% for blog in blogs %}
      <hr>
      {% include 'include/blogpost.html' %}
    {% endfor %}
  </div>

  {% if oldblog %}
    <hr>
    <div class="page">
      {{oldblog.page_content|safe}}
    </div>
  {% endif %}
{% endblock %}
