{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="projectlist js-masonry" data-masonry-options='{ "itemSelector": ".project" }'>
    {% for p in projects %}
      <div class="project" onClick="window.location = '{% url 'project' p.short_name %}'">
        <div class="project_title">
          {{p.project_title}}
        </div>
        {% if p.image %}
          <img src="{{p.image.url}}">
          <p>
            {{p.summary}}
          </p>
        {% else %}
          <div class="project_summary">
            {{p.frontpage_summary|safe}}
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
  <script>
    $('.more').hide();
  </script>
{% endblock %}

{% block extrascript %}
  <script src="{% static 'masonry.pkgd.min.js' %}"></script>
{% endblock %}
