@import url(http://fonts.googleapis.com/css?family=Quicksand);

.header {
    border-bottom: 1px solid #ccc;
}

.footer {
    border-top: 1px solid #ccc;
    height: 100px;
}

.headerblock {
    display: inline-block;
    vertical-align: top;
    padding: 12px;
}

.headerblock ul {
    list-style: none;
    line-height: 22px;
}

.headerblock a:link, headerblock a:visited {
    font-family: Quicksand, sans;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 2px;
    color: black;
}

.project {
    padding: 20px;
    width: 200px;
    cursor: pointer;
}

a.more {
    display: block;
    font-size: 8px;
    margin-top: -10px;
}

.project:hover {
    background: #ccc;
}

.project img {
    margin-top: 15px;
}

.project_title {
    font-family: Quicksand;
    font-weight: bold;
    font-size: 16px;
    color: #333;
}

.page {
    margin: 20px;
    width: 80%;
}

body, input {
    font-size: 14px;
    font-family: Verdana, sans-serif;
    line-height: 125%;
    color: #555;
}

small {
    font-size: 8px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Quicksand', sans-serif;
    text-rendering: optimizeLegibility;
    font-weight: normal;
    margin-bottom: .5em;
}

iframe {
  margin-right: 10px;
}

p {
  margin-top: .5em;
}

a:link {
    color: #375493;
}
a:active {
    color: #f33;
}
a:hover {
    color: #333;
}
a:visited {
    color: #375493;
}

sup, sub {
    font-size: 80%;
    line-height: 0;
}
sup {
    vertical-align: super;
}
sub {
    vertical-align: sub;
}
code {
    font-family: Inconsolata, Consolas, mono;
}

ul , ol{
    margin-left: 22px;
}
blockquote {
    display: block;
    background: #eee;
    background: rgba(0,0,0,.05);
    border-left: 4px solid;
    border-left-color: #ccc;
    border-left-color:  rgba(0,0,0,.1);
    padding: 10px;
    font-style: italic;
}
    blockquote p:last-child {
        margin-bottom: 0;
    }
pre {
    font-family: Inconsolata, Consolas, mono;
    background: black;
    background: rgba(0,0,0,.8);
    color: #eee;
    padding: 10px 22px;
}
