@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Quicksand);
body {
  margin: 0 5%; }

header {
  padding: 10px 0;
  border-bottom: 1px solid #bbb;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap; }
  header div.logo {
    margin-right: 30px; }
    header div.logo a {
      text-decoration: none; }
    header div.logo h1, header div.logo h2 {
      text-transform: uppercase;
      font-weight: bold;
      line-height: 1; }
    header div.logo h1 {
      font-size: 30px;
      color: black;
      position: relative;
      top: 8px; }
    header div.logo h2 {
      font-size: 21px;
      color: #bbb;
      letter-spacing: 3.5px; }
  header div.navigation {
    flex-grow: 1; }
    header div.navigation ul {
      margin: 0;
      padding: 10px 0;
      list-style: none;
      display: inline-block; }
      header div.navigation ul li {
        display: inline;
        margin-right: 1em; }
        header div.navigation ul li a:link,
        header div.navigation ul li a:visited {
          font-family: Quicksand, sans;
          text-decoration: none;
          font-size: 14px;
          letter-spacing: 2px;
          color: black; }
    header div.navigation div.socialmedia {
      float: right; }
      header div.navigation div.socialmedia a {
        filter: gray;
        /* IE6-9 */
        filter: grayscale(1);
        /* Microsoft Edge and Firefox 35+ */
        -webkit-filter: grayscale(1);
        /* Google Chrome, Safari 6+ & Opera 15+ */ }
      header div.navigation div.socialmedia a:hover {
        filter: none;
        -webkit-filter: none; }

ul.tabs {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #bbb;
  list-style: none; }
  ul.tabs li {
    display: inline-block;
    margin: 0;
    padding: 0; }
    ul.tabs li a {
      color: black;
      display: inline-block;
      text-decoration: none;
      padding: 10px; }
  ul.tabs li:hover {
    background: #eee; }
  ul.tabs li.current {
    font-weight: bold;
    background: #eee; }

footer {
  height: 100px; }

div.homepage {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1000; }
  div.homepage div.cat {
    height: 100vh;
    position: relative; }
    div.homepage div.cat div.image {
      height: 100%;
      background-size: cover;
      background-position: center; }
    div.homepage div.cat div.text {
      opacity: 0.8;
      font-family: Quicksand;
      position: absolute;
      bottom: 5%;
      left: 5%;
      right: 5%;
      color: white;
      font-size: 20px; }
      div.homepage div.cat div.text a {
        color: white;
        text-decoration: none; }

.white header {
  opacity: 0.8; }
  .white header * {
    color: white !important; }

.white .tabs {
  opacity: 0.8; }
  .white .tabs * {
    color: white !important; }
  .white .tabs li:hover {
    background: transparent !important; }

.white footer {
  display: none; }

.project {
  padding: 20px;
  width: 200px;
  cursor: pointer; }

a.more {
  display: block;
  font-size: 8px;
  margin-top: -10px; }

.project:hover {
  background: #eee; }

.project img {
  margin-top: 15px; }

.project_title {
  font-family: Quicksand;
  font-weight: bold;
  font-size: 16px;
  color: #333; }

div.page {
  margin: 32px 0;
  width: 80%; }
  div.page img {
   /* Cancelled by Monique's request
     width: 100% !important;
     height: auto !important;
  */
    box-sizing: border-box;
    max-width: 120%;
    height: auto !important; }
  div.page iframe {
    max-width: 120%; }

div.element {
  border-bottom: 1px solid #bbb;
  padding: 2em 0; }
  div.element p {
    max-width: 700px; }

div.slider {
  padding: 0px;
  margin: 0px;
  border: 1px solid #bbb; }
  div.slider div.photo:focus {
    outline: none; }
  div.slider div.photo {
    margin: 10px;
    height: 80vh; }
    div.slider div.photo img {
      display: inline-block;
      max-height: 100%;
      max-width: 100%;
      height: auto;
      width: auto; }

div.video {
  position: relative;
  width: 70%;
  height: 0px;
  padding-bottom: 45%; }
  div.video iframe {
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    left: 0px;
    top: 0px; }

.slick-prev:before,
.slick-next:before {
  color: black !important; }

ul.blog_index {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 1em; }
  ul.blog_index li {
    display: inline-block; }
  ul.blog_index li:after {
    content: '–';
    margin: 0 .5em; }
  ul.blog_index li:last-child:after {
    content: ''; }

body, input {
  font-size: 14px;
  font-family: Verdana, sans-serif;
  line-height: 1.25;
  color: #555; }

small {
  font-size: 8px; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Quicksand', sans-serif;
  text-rendering: optimizeLegibility;
  font-weight: normal;
  margin-bottom: .5em; }

iframe {
  margin-right: 10px; }

p {
  margin-top: .5em; }

a:link {
  color: #375493; }

a:active {
  color: #f33; }

a:hover {
  color: #333; }

a:visited {
  color: #375493; }

sup, sub {
  font-size: 80%;
  line-height: 0; }

sup {
  vertical-align: super; }

sub {
  vertical-align: sub; }

code {
  font-family: Inconsolata, Consolas, mono; }

ul, ol {
  margin-left: 22px; }

blockquote {
  display: block;
  background: #eee;
  background: rgba(0, 0, 0, 0.05);
  border-left: 4px solid;
  border-left-color: #eee;
  border-left-color: rgba(0, 0, 0, 0.1);
  padding: 10px;
  font-style: italic; }

blockquote p:last-child {
  margin-bottom: 0; }

pre {
  font-family: Inconsolata, Consolas, mono;
  background: black;
  background: rgba(0, 0, 0, 0.8);
  color: #eee;
  padding: 10px 22px; }

/*# sourceMappingURL=main11.css.map */
