{% load i18n %}
{% load staticfiles %}
<!doctype html>
<html>
  <head>
    <title>
      Monique Broekman - {% block title %}Kunstenares met engagement uit &rsquo;s-Hertogenbosch{% endblock %}
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="{% static 'main.css' %}" type="text/css" />
    {% block javascript %}
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="{% static 'masonry.pkgd.min.js' %}"></script>
    {% endblock %}
  </head>
  <body>
    {% block header %}
    <div class="header">
      <div class="logo headerblock">
        <a href="/"><img src="{% static 'moniquebroekman.png' %}" width="201" height="100" alt="logo Monique Broekman"/></a>
      </div>
      <div class="navigation headerblock">
        {% block navigation %}
        {% endblock %}
      </div>
      <div class="navigation headerblock">
        {% block categories %}
        {% endblock %}
      </div>
    </div>
    {% endblock %}
    <div class="content">
    {% block content %}
    {% endblock %}
    </div>
    <div class="footer">
    {% block footer %}
    {% endblock %}
    </div>
  </body>
</html>
