{% load i18n %}
{% load staticfiles %}
<!doctype html>
<html>
  <head>
    <title>
      Monique Broekman - {% block title %}Beeldend kunstenaar uit &rsquo;s-Hertogenbosch{% endblock %}
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="{% static 'main.css' %}" type="text/css" />
    {% block javascript %}
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="{% static 'masonry.pkgd.min.js' %}"></script>
    {% endblock %}
  </head>
  <body>
    {% block header %}
    <div class="header">
      <div class="logo">
        <a href="/"><img src="{% static 'moniquebroekman.png' %}" alt="logo Monique Broekman"/></a>
      </div>
      <div class="navigation">
        {% block navigation %}
          <ul>
            {% for p in pages %}
              <li><a href="{% url 'page' p.short_name %}">{{p.page_title}}</a></li>
            {% endfor %}
          </ul>
        {% endblock %}
      </div>
    </div>
    {% endblock %}
    <div class="content">
    {% block content %}
    {% endblock %}
    </div>
    <div class="footer">
    {% block footer %}
    {% endblock %}
    </div>
    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
      var u="//dashboard.rtts.eu/";
      _paq.push(['setTrackerUrl', u+'piwik.php']);
      _paq.push(['setSiteId', 6]);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="//dashboard.rtts.eu/piwik.php?idsite=6" style="border:0;" alt="" /></p></noscript>
  </body>
</html>
