{% load embed_video_tags %}

<a name="{{blog.slug}}"></a>
<h1>{{blog.title}}</h1>
<h2>{{blog.date}}</h2>

{{blog.text|safe}}

{% for section in blog.sections.all %}
  {% if section.video %}
    <div class="video">
      {% video section.video 'huge' %}
    </div>
  {% endif %}

  {{section.text|safe}}

  {% if section.image %}
    <div style="padding: 1em 0">
      <img width="{{section.image_width|default:'70%'}}" src="{{section.image.url}}" alt="{{section.caption}}"><br>
      <i>{{section.caption}}</i>
    </div>
  {% endif %}

  {% if section.html %}
    <template id="email-message">
      <style>
        table {
            margin-inline-start: 0;
        }
      </style>
      {{ section.html|safe }}
    </template>

    <raw-email-message />

    <script>
      customElements.define('raw-email-message',
                            class extends HTMLElement {
                                constructor() {
                                    super();
                                    const template = document
                                        .getElementById('email-message')
                                        .content;
                                    const shadowRoot = this.attachShadow({mode: 'open'})
                                                           .appendChild(template.cloneNode(true));
                                }
                            });
    </script>
  {% endif %}
{% endfor %}
